<div class="navigation-wrapper">
<nav class="cover-navigation navigation--social">
  <ul class="navigation">


	<a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url }}&via=OviliaZhang"></a>
    <!-- Twitter -->
    <li class="navigation__item">
      <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url }}&via=OviliaZhang" title="{{ most.title }}" target="_blank">
        <i class="icon icon-social-twitter"></i>
        <span class="label">Twitter</span>
      </a>
    </li>

    <!-- Facebook -->
    <li class="navigation__item">
      <a href="http://fb.me/miguel.ferreira.gaspar" title="miguel.ferreira.gaspar on Facebook" target="_blank">
        <i class="icon icon-social-facebook"></i>
        <span class="label">Facebook</span>
      </a>
    </li>

    <!-- LinkedIn -->
    <li class="navigation__item">
      <a href="https://www.linkedin.com/in/mfgaspar" title="mfgaspar on LinkedIn" target="_blank">
        <i class="icon icon-social-linkedin"></i>
        <span class="label">LinkedIn</span>
      </a>
    </li>

    <!-- GitHub -->
    <li class="navigation__item">
      <a href="https://www.github.com/mfgaspar" title="mfgaspar on GitHub" target="_blank">
        <i class="icon icon-social-github"></i>
        <span class="label">GitHub</span>
      </a>
    </li>

    <!-- Email -->
    <li class="navigation__item">
      <a href="mailto:miguel.ferreira.gaspar@gmail.com" title="Email miguel.ferreira.gaspar@gmail.com" target="_blank">
        <i class="icon icon-mail"></i>
        <span class="label">Email</span>
      </a>
    </li>

    <!-- RSS -->
    <li class="navigation__item">
      <a href="/feed.xml" title="Subscribe" target="_blank">
        <i class="icon icon-rss"></i>
        <span class="label">RSS</span>
      </a>
    </li>

  </ul>

</nav>
	</div>




<!-- Go to www.addthis.com/dashboard to customize your tools 
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-571518f68ebfed3f"></script>


<a href="https://api.addthis.com/oexchange/0.8/forward/linkedin/offer?url={site.baseurl}}{{post.url}}&pubid=ra-571518f68ebfed3f&ct=1&title=AddThis%20-%20Get%20likes%2C%20get%20shares%2C%20get%20followers&pco=tbxnj-1.0" target="_blank"><img src="https://cache.addthiscdn.com/icons/v3/thumbs/32x32/twitter.png" border="0" alt="Twitter"/></a>

<a href="https://api.addthis.com/oexchange/0.8/forward/linkedin/offer?url=http%3A%2F%2Fwww.addthis.com&pubid=ra-571518f68ebfed3f&ct=1&title=AddThis%20-%20Get%20likes%2C%20get%20shares%2C%20get%20followers&pco=tbxnj-1.0" target="_blank"><img src="https://cache.addthiscdn.com/icons/v3/thumbs/32x32/linkedin.png" border="0" alt="LinkedIn"/></a>

<a href="https://api.addthis.com/oexchange/0.8/forward/facebook/offer?url=http%3A%2F%2Fwww.addthis.com&pubid=ra-571518f68ebfed3f&ct=1&title=AddThis%20-%20Get%20likes%2C%20get%20shares%2C%20get%20followers&pco=tbxnj-1.0" target="_blank"><img src="https://cache.addthiscdn.com/icons/v3/thumbs/32x32/facebook.png" border="0" alt="Facebook"/></a>

<a href="https://api.addthis.com/oexchange/0.8/forward/google_plusone_share/offer?url=http%3A%2F%2Fwww.addthis.com&pubid=ra-571518f68ebfed3f&ct=1&title=AddThis%20-%20Get%20likes%2C%20get%20shares%2C%20get%20followers&pco=tbxnj-1.0" target="_blank"><img src="https://cache.addthiscdn.com/icons/v3/thumbs/32x32/google_plusone_share.png" border="0" alt="Google+"/></a>

<a href="https://api.addthis.com/oexchange/0.8/forward/link/offer?url=http%3A%2F%2Fwww.addthis.com&pubid=ra-571518f68ebfed3f&ct=1&title=AddThis%20-%20Get%20likes%2C%20get%20shares%2C%20get%20followers&pco=tbxnj-1.0" target="_blank"><img src="https://cache.addthiscdn.com/icons/v3/thumbs/32x32/link.png" border="0" alt="Copy Link"/></a>
-->
