 
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-571518f68ebfed3f"></script>


<a href="https://api.addthis.com/oexchange/0.8/forward/twitter/offer?url={{ site.url }}{{ page.url }}&text={{ post.title }}&pco=tbxnj-1.0&pubid={{ post.title }}&ct=1" target="_blank"><img src="https://cache.addthiscdn.com/icons/v3/thumbs/32x32/twitter.png" border="0" alt="Twitter"/></a>

<a href="https://api.addthis.com/oexchange/0.8/forward/linkedin/offer?url={{ site.url }}{{ page.url }}&pubid={{ post.title }}&ct=1&summary={{ post.title }}&pco=tbxnj-1.0" target="_blank"><img src="https://cache.addthiscdn.com/icons/v3/thumbs/32x32/linkedin.png" border="0" alt="LinkedIn"/></a>

<a href="https://api.addthis.com/oexchange/0.8/forward/facebook/offer?url={{ site.url }}{{ page.url }}&pubid={{ post.title }}&ct=1&title={{ post.title }}&pco=tbxnj-1.0" target="_blank"><img src="https://cache.addthiscdn.com/icons/v3/thumbs/32x32/facebook.png" border="0" alt="Facebook"/></a>

<a href="https://api.addthis.com/oexchange/0.8/forward/google_plus_one/offer?url={{ site.url }}{{ page.url }}&pubid={{ post.title }}&ct=1&title={{ post.title }}&pco=tbxnj-1.0" target="_blank"><img src="https://cache.addthiscdn.com/icons/v3/thumbs/32x32/google_plusone_share.png" border="0" alt="Google+"/></a>
<!--
<a href="https://api.addthis.com/oexchange/0.8/forward/link/offer?url=http%3A%2F%2Fwww.addthis.com&pubid=ra-571518f68ebfed3f&ct=1&title=AddThis%20-%20Get%20likes%2C%20get%20shares%2C%20get%20followers&pco=tbxnj-1.0" target="_blank"><img src="https://cache.addthiscdn.com/icons/v3/thumbs/32x32/link.png" border="0" alt="Copy Link"/></a>
-->